body {
    background-color: #080525;
    font-family: 'IBM Plex Mono', monospace;
    color: #eee;
}

.asciiart {
    color: #ffff;
    text-align: center;
    font-size: 25px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px;
}
